---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import ArticleCard from "../components/ArticleCard.astro";

const allDives = await getCollection("posts", ({ data }) => {
  return data.tag === 'dive';
});
---
<BaseLayout title="探索" description="深入探索具体的技术和话题。">
  <div class="space-y-8">
    {allDives.map(post => (
      <ArticleCard
        title={post.data.title}
        description={post.data.description}
        date={post.data.date.toLocaleDateString('zh-CN')}
        url={`/posts/${post.slug}`}
        imageUrl={post.data.imageUrl}
        authorName={post.data.authorName}
        avatarUrl={post.data.avatarUrl}
        comments={post.data.comments}
        tag={post.data.tag}
      />
    ))}
  </div>
</BaseLayout>